In [86]:
import pandas as pd
START_SEASON = 2004
#START_SEASON = 2010

OUTPUT_FILE_NAME = "./data/df_merge_club_transfer_data.pkl"
# OUTPUT_FILE_NAME = "df_merge_club_transfer_data_weather.pkl"
# OUTPUT_FILE_NAME = "df_merge_club_transfer_data_2010.pkl"

In [87]:
df_clubs_overview = pd.read_pickle("./data/df_clubs_overview.pkl")
df_matchday_data = pd.read_pickle("./data/df_matchday_data.pkl")
# df_matchday_data = pd.read_pickle("./df_matchday_data_incl_weather.pkl")
df_transfer_data = pd.read_pickle("./data/df_transfer_data.pkl")

# Merging all dataframes
First renaming clubs, then merge club data with the matchday data

In [88]:
df_clubs_overview['season'] = df_clubs_overview['season'].astype(int)
club_df = df_clubs_overview[df_clubs_overview['season'] >= START_SEASON]
club_df.CLUB_NAME.unique()

array(['FC Bayern München', 'Borussia Dortmund', 'FC Schalke 04',
       'SV Werder Bremen', 'Bayer 04 Leverkusen', 'VfL Wolfsburg',
       'TSG 1899 Hoffenheim', 'Hamburger SV', 'VfB Stuttgart',
       '1.FC Köln', 'Borussia Mönchengladbach', 'Hannover 96',
       '1.FSV Mainz 05', '1.FC Nürnberg', 'SC Freiburg',
       '1.FC Kaiserslautern', 'Eintracht Frankfurt', 'FC St. Pauli',
       'Hertha BSC', 'FC Augsburg', 'SpVgg Greuther Fürth',
       'Fortuna Düsseldorf', 'Eintracht Braunschweig', 'SC Paderborn 07',
       'FC Ingolstadt 04', 'SV Darmstadt 98', 'RasenBallsport Leipzig',
       '1.FC Union Berlin', 'Arminia Bielefeld', 'VfL Bochum'],
      dtype=object)

In [89]:
nan_count = club_df.isna().sum()
print(nan_count)
print(len(club_df))

CLUB_NAME             0
PLAYERS_COUNT         0
PLAYERS_AVG_AGE       0
LEGIONARIES_COUNT     0
AVG_MARKET_VALUE      0
TOTAL_MARKET_VALUE    0
season                0
dtype: int64
234

In [90]:
df_matchday_data['SEASON'] = df_matchday_data['SEASON'].astype(int)
match_df = df_matchday_data[df_matchday_data['SEASON'] >= START_SEASON]
match_df.HOME_TEAM.unique()

array(['Bayern München', 'TSG Hoffenheim', "Bor. M'gladbach", '1.FC Köln',
       'SC Freiburg', 'Hannover 96', 'Hamburger SV', '1.FSV Mainz 05',
       'Bor. Dortmund', "1.FC K'lautern", 'FC Schalke 04',
       'Werder Bremen', 'VfL Wolfsburg', 'E. Frankfurt', '1.FC Nürnberg',
       'FC St. Pauli', 'B. Leverkusen', 'VfB Stuttgart', 'FC Augsburg',
       'Hertha BSC', 'Greuther Fürth', 'F. Düsseldorf', 'E. Braunschweig',
       'SC Paderborn', 'Darmstadt 98', 'FC Ingolstadt', 'RB Leipzig',
       'Union Berlin', 'Arm. Bielefeld', 'VfL Bochum'], dtype=object)

In [91]:
nan_count = match_df.isna().sum()
print(nan_count)
print(len(match_df))

DATE               0
WEEKDAY            0
MONTH              0
SEASON             0
MATCHDAY           0
HOME_TEAM          0
PLACE_HOME_TEAM    0
AWAY_TEAM          0
PLACE_AWAY_TEAM    0
WIN_PERC_HOME      0
REMIS_PERC         0
WIN_PERC_AWAY      0
HOME_GOALS         0
AWAY_GOALS         0
RESULT             0
REFEREE            0
dtype: int64
3978

In [92]:
df_transfer_data['season'] = df_transfer_data['season'].astype(int)
transfer_df = df_transfer_data[df_transfer_data['season'] >= START_SEASON]
transfer_df.CLUB_NAME.unique()

array(['Borussia Dortmund', 'FC Bayern München', 'FC Schalke 04',
       'Borussia Mönchengladbach', 'Bayer 04 Leverkusen', 'VfB Stuttgart',
       'Hannover 96', 'VfL Wolfsburg', 'SV Werder Bremen',
       '1.FC Nürnberg', 'Eintracht Frankfurt', 'TSG 1899 Hoffenheim',
       'SC Freiburg', '1.FSV Mainz 05', 'Hamburger SV', '1.FC Köln',
       'FC St. Pauli', '1.FC Kaiserslautern', 'FC Augsburg', 'Hertha BSC',
       'SpVgg Greuther Fürth', 'Fortuna Düsseldorf',
       'Eintracht Braunschweig', 'SC Paderborn 07', 'FC Ingolstadt 04',
       'SV Darmstadt 98', 'RasenBallsport Leipzig', '1.FC Union Berlin',
       'Arminia Bielefeld', 'VfL Bochum'], dtype=object)

In [93]:
nan_count = transfer_df.isna().sum()
print(nan_count)
print(len(transfer_df))

CLUB_NAME                  0
AVG_AGE_JOINING            0
AVG_AGE_LEAVING            0
TOTAL_VALUE_JOINING_MIO    0
TOTAL_VALUE_LEAVING_MIO    0
EXPENSES_JOINING_MIO       0
REVENUE_LEAVING_MIO        0
season                     0
dtype: int64
234

In [94]:
club_mappings = {
   'Werder Bremen': 'SV Werder Bremen',
    "1.FC K'lautern": '1.FC Kaiserslautern',
    'SC Freiburg': 'SC Freiburg',
    'Bor. Dortmund': 'Borussia Dortmund',
    'B. Leverkusen': 'Bayer 04 Leverkusen',
    'Hertha BSC': 'Hertha BSC',
    'Hamburger SV': 'Hamburger SV',
    'Arm. Bielefeld': 'Arminia Bielefeld',
    'VfB Stuttgart': 'VfB Stuttgart',
    '1.FSV Mainz 05': '1.FSV Mainz 05',
    'Bayern München': 'FC Bayern München',
    "Bor. M'gladbach": 'Borussia Mönchengladbach',
    'Hansa Rostock': 'FC Hansa Rostock',
    'FC Schalke 04': 'FC Schalke 04',
    '1.FC Nürnberg': '1.FC Nürnberg',
    'VfL Bochum': 'VfL Bochum',
    'VfL Wolfsburg': 'VfL Wolfsburg',
    'Hannover 96': 'Hannover 96',
    'MSV Duisburg': 'MSV Duisburg',
    '1.FC Köln': '1.FC Köln',
    'E. Frankfurt': 'Eintracht Frankfurt',
    'Energie Cottbus': 'FC Energie Cottbus',
    'Alem. Aachen': 'Alemannia Aachen',
    'Karlsruher SC': 'Karlsruher SC',
    'TSG Hoffenheim': 'TSG 1899 Hoffenheim',
    'FC St. Pauli': 'FC St. Pauli',
    'FC Augsburg': 'FC Augsburg',
    'Greuther Fürth': 'SpVgg Greuther Fürth',
    'F. Düsseldorf': 'Fortuna Düsseldorf',
    'E. Braunschweig': 'Eintracht Braunschweig',
    'SC Paderborn': 'SC Paderborn 07',
    'Darmstadt 98': 'SV Darmstadt 98',
    'FC Ingolstadt': 'FC Ingolstadt 04',
    'RB Leipzig': 'RasenBallsport Leipzig',
    'Union Berlin': '1.FC Union Berlin'
}

In [95]:
# renaming club names in the matchday data
match_df = match_df.copy()
match_df['HOME_TEAM'] = match_df['HOME_TEAM'].replace(club_mappings)
match_df['AWAY_TEAM'] = match_df['AWAY_TEAM'].replace(club_mappings)

# Anwendung des Mappings in transfer_df
transfer_df = transfer_df.copy()
transfer_df['CLUB_NAME'] = transfer_df['CLUB_NAME'].replace(club_mappings)

In [96]:
# merge club data with transfer data for each club and season
tmp_df = pd.merge(club_df, transfer_df, on=['CLUB_NAME', 'season'])

In [97]:
nan_count = tmp_df.isna().sum()
print(nan_count)
print(len(tmp_df))

CLUB_NAME                  0
PLAYERS_COUNT              0
PLAYERS_AVG_AGE            0
LEGIONARIES_COUNT          0
AVG_MARKET_VALUE           0
TOTAL_MARKET_VALUE         0
season                     0
AVG_AGE_JOINING            0
AVG_AGE_LEAVING            0
TOTAL_VALUE_JOINING_MIO    0
TOTAL_VALUE_LEAVING_MIO    0
EXPENSES_JOINING_MIO       0
REVENUE_LEAVING_MIO        0
dtype: int64
234

In [98]:
set_club_transfer_teams = set(tmp_df['CLUB_NAME'])
set_match_df_teams = set(match_df['HOME_TEAM']).union(set(match_df['AWAY_TEAM']))
are_equal = set_club_transfer_teams == set_match_df_teams
print(f"The columns are equal: {are_equal}")

The columns are equal: True

In [99]:
print(set_club_transfer_teams)
print(len(set_club_transfer_teams))

{'1.FC Köln', 'Hannover 96', 'VfL Wolfsburg', 'Borussia Dortmund', 'SV Darmstadt 98', 'SV Werder Bremen', 'Eintracht Frankfurt', 'TSG 1899 Hoffenheim', 'SC Paderborn 07', 'Eintracht Braunschweig', 'Hertha BSC', 'FC St. Pauli', 'FC Schalke 04', 'Borussia Mönchengladbach', 'RasenBallsport Leipzig', '1.FSV Mainz 05', '1.FC Nürnberg', 'Bayer 04 Leverkusen', 'VfL Bochum', 'FC Ingolstadt 04', 'FC Bayern München', 'FC Augsburg', 'Fortuna Düsseldorf', 'SC Freiburg', 'Arminia Bielefeld', '1.FC Kaiserslautern', 'SpVgg Greuther Fürth', 'Hamburger SV', '1.FC Union Berlin', 'VfB Stuttgart'}
30

In [100]:
print(set_match_df_teams)
print(len(set_match_df_teams))

{'1.FC Köln', 'Hannover 96', 'VfL Wolfsburg', 'Borussia Dortmund', 'SV Darmstadt 98', 'SV Werder Bremen', 'Eintracht Frankfurt', 'TSG 1899 Hoffenheim', 'SC Paderborn 07', 'Eintracht Braunschweig', 'Hertha BSC', 'FC St. Pauli', 'FC Schalke 04', 'Borussia Mönchengladbach', 'RasenBallsport Leipzig', '1.FSV Mainz 05', '1.FC Nürnberg', 'Bayer 04 Leverkusen', 'VfL Bochum', 'FC Ingolstadt 04', 'FC Bayern München', 'FC Augsburg', 'Fortuna Düsseldorf', 'SC Freiburg', 'Arminia Bielefeld', '1.FC Kaiserslautern', 'SpVgg Greuther Fürth', 'Hamburger SV', '1.FC Union Berlin', 'VfB Stuttgart'}
30

In [101]:
# Teams in set1 but not in set2
difference1 = set_club_transfer_teams - set_match_df_teams

# Teams in set2 but not in set1
difference2 = set_match_df_teams - set_club_transfer_teams

# Combine both differences
all_differences = difference1.union(difference2)

print(f"Teams in set1 but not in set2: {difference1}")
print(f"Teams in set2 but not in set1: {difference2}")
print(f"All differing teams: {all_differences}")
print(len(all_differences))

Teams in set1 but not in set2: set()
Teams in set2 but not in set1: set()
All differing teams: set()
0

In [102]:
# merge matchday data for home team
tmp2_df = match_df.merge(tmp_df, left_on=['HOME_TEAM', 'SEASON'], right_on=['CLUB_NAME', 'season'], how='left')
tmp2_df = tmp2_df.rename(columns={
    'PLAYERS_COUNT': 'HOME_PLAYERS_COUNT',
    'PLAYERS_AVG_AGE': 'HOME_PLAYERS_AVG_AGE',
    'LEGIONARIES_COUNT': 'HOME_LEGIONARIES_COUNT',
    'AVG_MARKET_VALUE': 'HOME_AVG_MARKET_VALUE',
    'TOTAL_MARKET_VALUE': 'HOME_TOTAL_MARKET_VALUE',
    'AVG_AGE_JOINING': 'HOME_AVG_AGE_JOINING', 
    'AVG_AGE_LEAVING': 'HOME_AVG_AGE_LEAVING', 
    'TOTAL_VALUE_JOINING_MIO': 'HOME_TOTAL_VALUE_JOINING_MIO', 
    'TOTAL_VALUE_LEAVING_MIO': 'HOME_TOTAL_VALUE_LEAVING_MIO', 
    'EXPENSES_JOINING_MIO': 'HOME_EXPENSES_JOINING_MIO',
    'REVENUE_LEAVING_MIO': 'HOME_REVENUE_LEAVING_MIO'
})
tmp2_df

,DATE,WEEKDAY,MONTH,SEASON,MATCHDAY,HOME_TEAM,PLACE_HOME_TEAM,AWAY_TEAM,PLACE_AWAY_TEAM,WIN_PERC_HOME,...,HOME_LEGIONARIES_COUNT,HOME_AVG_MARKET_VALUE,HOME_TOTAL_MARKET_VALUE,season,HOME_AVG_AGE_JOINING,HOME_AVG_AGE_LEAVING,HOME_TOTAL_VALUE_JOINING_MIO,HOME_TOTAL_VALUE_LEAVING_MIO,HOME_EXPENSES_JOINING_MIO,HOME_REVENUE_LEAVING_MIO
0,2010-08-20,4,8,2010,1,FC Bayern München,3,VfL Wolfsburg,15,89.0,...,17,"9,97 Mio. €","308,98 Mio. €",2010,23.9,26.5,56.0,40.2,17.0,6.0
1,2010-08-21,5,8,2010,1,TSG 1899 Hoffenheim,11,SV Werder Bremen,13,11.9,...,19,"3,71 Mio. €","126,13 Mio. €",2010,21.9,22.9,68.78,9.7,22.45,45.4
2,2010-08-21,5,8,2010,1,Borussia Mönchengladbach,16,1.FC Nürnberg,6,79.5,...,19,"1,96 Mio. €","66,55 Mio. €",2010,24.3,27.1,35.1,0.5,7.0,2.0
3,2010-08-21,5,8,2010,1,1.FC Köln,10,1.FC Kaiserslautern,7,44.7,...,19,"1,82 Mio. €","69,28 Mio. €",2010,22.3,25.0,1.13,0.8,4.6,0.05
4,2010-08-21,5,8,2010,1,SC Freiburg,9,FC St. Pauli,18,39.8,...,19,"1,87 Mio. €","59,95 Mio. €",2010,22.2,23.9,3.65,0.125,1.45,0.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3973,2023-05-27,5,5,2022,34,Borussia Mönchengladbach,11,FC Augsburg,14,68.9,...,16,"6,91 Mio. €","241,68 Mio. €",2022,22.1,23.8,45.55,64.03,24.0,23.0
3974,2023-05-27,5,5,2022,34,Eintracht Frankfurt,8,SC Freiburg,5,31.4,...,22,"9,02 Mio. €","324,55 Mio. €",2022,22.6,24.2,157.75,66.3,27.8,18.4
3975,2023-05-27,5,5,2022,34,VfL Wolfsburg,7,Hertha BSC,18,93.6,...,20,"7,22 Mio. €","238,30 Mio. €",2022,22.3,24.6,78.6,73.45,35.75,23.7
3976,2023-05-27,5,5,2022,34,VfL Bochum,16,Bayer 04 Leverkusen,6,13.0,...,18,"1,68 Mio. €","53,70 Mio. €",2022,25.4,26.0,26.8,39.48,1.79,16.05
3977,2023-05-27,5,5,2022,34,VfB Stuttgart,15,TSG 1899 Hoffenheim,13,70.9,...,21,"3,87 Mio. €","151,05 Mio. €",2022,22.8,22.8,72.75,99.9,14.99,52.6

In [103]:
nan_count = tmp2_df.isna().sum()
print(nan_count)

DATE                            0
WEEKDAY                         0
MONTH                           0
SEASON                          0
MATCHDAY                        0
HOME_TEAM                       0
PLACE_HOME_TEAM                 0
AWAY_TEAM                       0
PLACE_AWAY_TEAM                 0
WIN_PERC_HOME                   0
REMIS_PERC                      0
WIN_PERC_AWAY                   0
HOME_GOALS                      0
AWAY_GOALS                      0
RESULT                          0
REFEREE                         0
CLUB_NAME                       0
HOME_PLAYERS_COUNT              0
HOME_PLAYERS_AVG_AGE            0
HOME_LEGIONARIES_COUNT          0
HOME_AVG_MARKET_VALUE           0
HOME_TOTAL_MARKET_VALUE         0
season                          0
HOME_AVG_AGE_JOINING            0
HOME_AVG_AGE_LEAVING            0
HOME_TOTAL_VALUE_JOINING_MIO    0
HOME_TOTAL_VALUE_LEAVING_MIO    0
HOME_EXPENSES_JOINING_MIO       0
HOME_REVENUE_LEAVING_MIO        0
dtype: int64

In [104]:
# merge matchday data for away team
df = tmp2_df.merge(tmp_df, left_on=['AWAY_TEAM', 'SEASON'], right_on=['CLUB_NAME', 'season'], how='left')
df = df.rename(columns= {
    'PLAYERS_COUNT': 'AWAY_PLAYERS_COUNT',
    'PLAYERS_AVG_AGE': 'AWAY_PLAYERS_AVG_AGE',
    'LEGIONARIES_COUNT': 'AWAY_LEGIONARIES_COUNT',
    'AVG_MARKET_VALUE': 'AWAY_AVG_MARKET_VALUE',
    'TOTAL_MARKET_VALUE': 'AWAY_TOTAL_MARKET_VALUE',
    'AVG_AGE_JOINING': 'AWAY_AVG_AGE_JOINING', 
    'AVG_AGE_LEAVING': 'AWAY_AVG_AGE_LEAVING', 
    'TOTAL_VALUE_JOINING_MIO': 'AWAY_TOTAL_VALUE_JOINING_MIO', 
    'TOTAL_VALUE_LEAVING_MIO': 'AWAY_TOTAL_VALUE_LEAVING_MIO', 
    'EXPENSES_JOINING_MIO': 'AWAY_EXPENSES_JOINING_MIO',
    'REVENUE_LEAVING_MIO': 'AWAY_REVENUE_LEAVING_MIO'
})
df = df.drop(['CLUB_NAME_x', 'CLUB_NAME_y', 'season_x', 'season_y'], axis=1)

In [105]:
nan_count = df.isna().sum()
print(nan_count)

DATE                            0
WEEKDAY                         0
MONTH                           0
SEASON                          0
MATCHDAY                        0
HOME_TEAM                       0
PLACE_HOME_TEAM                 0
AWAY_TEAM                       0
PLACE_AWAY_TEAM                 0
WIN_PERC_HOME                   0
REMIS_PERC                      0
WIN_PERC_AWAY                   0
HOME_GOALS                      0
AWAY_GOALS                      0
RESULT                          0
REFEREE                         0
HOME_PLAYERS_COUNT              0
HOME_PLAYERS_AVG_AGE            0
HOME_LEGIONARIES_COUNT          0
HOME_AVG_MARKET_VALUE           0
HOME_TOTAL_MARKET_VALUE         0
HOME_AVG_AGE_JOINING            0
HOME_AVG_AGE_LEAVING            0
HOME_TOTAL_VALUE_JOINING_MIO    0
HOME_TOTAL_VALUE_LEAVING_MIO    0
HOME_EXPENSES_JOINING_MIO       0
HOME_REVENUE_LEAVING_MIO        0
AWAY_PLAYERS_COUNT              0
AWAY_PLAYERS_AVG_AGE            0
AWAY_LEGIONARIES_COUNT          0
AWAY_AVG_MARKET_VALUE           0
AWAY_TOTAL_MARKET_VALUE         0
AWAY_AVG_AGE_JOINING            0
AWAY_AVG_AGE_LEAVING            0
AWAY_TOTAL_VALUE_JOINING_MIO    0
AWAY_TOTAL_VALUE_LEAVING_MIO    0
AWAY_EXPENSES_JOINING_MIO       0
AWAY_REVENUE_LEAVING_MIO        0
dtype: int64

In [106]:
# save  merge club data with transfer data for each club and season
df.to_pickle(OUTPUT_FILE_NAME)