# Analysis

In [2]:
import pandas as pd

In [3]:
df = pd.read_pickle("./df_merge_club_transfer_data.pkl")
df.columns

Index(['DATE', 'WEEKDAY', 'MONTH', 'SEASON', 'MATCHDAY', 'HOME_TEAM',
       'PLACE_HOME_TEAM', 'AWAY_TEAM', 'PLACE_AWAY_TEAM', 'WIN_PERC_HOME',
       'REMIS_PERC', 'WIN_PERC_AWAY', 'HOME_GOALS', 'AWAY_GOALS', 'RESULT',
       'REFEREE', 'HOME_PLAYERS_COUNT', 'HOME_PLAYERS_AVG_AGE',
       'HOME_LEGIONARIES_COUNT', 'HOME_AVG_MARKET_VALUE',
       'HOME_TOTAL_MARKET_VALUE', 'HOME_AVG_AGE_JOINING',
       'HOME_AVG_AGE_LEAVING', 'HOME_TOTAL_VALUE_JOINING_MIO',
       'HOME_TOTAL_VALUE_LEAVING_MIO', 'HOME_EXPENSES_JOINING_MIO',
       'HOME_REVENUE_LEAVING_MIO', 'AWAY_PLAYERS_COUNT',
       'AWAY_PLAYERS_AVG_AGE', 'AWAY_LEGIONARIES_COUNT',
       'AWAY_AVG_MARKET_VALUE', 'AWAY_TOTAL_MARKET_VALUE',
       'AWAY_AVG_AGE_JOINING', 'AWAY_AVG_AGE_LEAVING',
       'AWAY_TOTAL_VALUE_JOINING_MIO', 'AWAY_TOTAL_VALUE_LEAVING_MIO',
       'AWAY_EXPENSES_JOINING_MIO', 'AWAY_REVENUE_LEAVING_MIO'],
      dtype='object')

In [4]:
df

,DATE,WEEKDAY,MONTH,SEASON,MATCHDAY,HOME_TEAM,PLACE_HOME_TEAM,AWAY_TEAM,PLACE_AWAY_TEAM,WIN_PERC_HOME,...,AWAY_PLAYERS_AVG_AGE,AWAY_LEGIONARIES_COUNT,AWAY_AVG_MARKET_VALUE,AWAY_TOTAL_MARKET_VALUE,AWAY_AVG_AGE_JOINING,AWAY_AVG_AGE_LEAVING,AWAY_TOTAL_VALUE_JOINING_MIO,AWAY_TOTAL_VALUE_LEAVING_MIO,AWAY_EXPENSES_JOINING_MIO,AWAY_REVENUE_LEAVING_MIO
0,2004-08-06,4,8,2004,1,SV Werder Bremen,3,FC Schalke 04,2,NaN,...,"25,6",15,"2,62 Mio. €","86,33 Mio. €",23.3,27.8,,,4.65,0.05
1,2004-08-07,5,8,2004,1,1.FC Kaiserslautern,12,1.FC Nürnberg,14,NaN,...,"25,6",12,"1,20 Mio. €","34,90 Mio. €",25.4,27.9,,,2.25,0.15
2,2004-08-07,5,8,2004,1,SC Freiburg,18,FC Hansa Rostock,17,NaN,...,"27,5",14,925 Tsd. €,"25,90 Mio. €",26.1,28.1,,,0.55,0.5
3,2004-08-07,5,8,2004,1,Borussia Dortmund,7,VfL Wolfsburg,9,NaN,...,"27,3",18,"2,12 Mio. €","59,30 Mio. €",25.2,23.2,,,8.5,
4,2004-08-07,5,8,2004,1,Bayer 04 Leverkusen,6,Hannover 96,10,NaN,...,"26,1",23,"1,23 Mio. €","42,98 Mio. €",25.1,26.6,,,1.88,0.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5809,2023-05-27,5,5,2022,34,Borussia Mönchengladbach,11,FC Augsburg,14,68.9,...,"25,0",23,"3,15 Mio. €","132,28 Mio. €",22.6,24.6,69.2,39.5,11.45,6.8
5810,2023-05-27,5,5,2022,34,Eintracht Frankfurt,8,SC Freiburg,5,31.4,...,"26,0",11,"6,93 Mio. €","200,95 Mio. €",23.3,23.1,59.75,92.15,15.9,21.33
5811,2023-05-27,5,5,2022,34,VfL Wolfsburg,7,Hertha BSC,18,93.6,...,"25,4",21,"2,29 Mio. €","94,00 Mio. €",23.7,24.4,84.83,80.78,8.55,24.25
5812,2023-05-27,5,5,2022,34,VfL Bochum,16,Bayer 04 Leverkusen,6,13.0,...,"24,2",24,"12,93 Mio. €","452,55 Mio. €",21.8,24.6,55.85,27.65,15.1,9.5
5813,2023-05-27,5,5,2022,34,VfB Stuttgart,15,TSG 1899 Hoffenheim,13,70.9,...,"25,8",21,"4,83 Mio. €","178,80 Mio. €",23.9,25.0,66.5,84.5,19.8,60.6