# Analysis

In [11]:
import pandas as pd

In [12]:
df = pd.read_pickle("./data/df_merge_club_transfer_data_prep1.pkl")
df.columns

Index(['DATE', 'WEEKDAY', 'MONTH', 'SEASON', 'MATCHDAY', 'HOME_TEAM',
       'PLACE_HOME_TEAM', 'AWAY_TEAM', 'PLACE_AWAY_TEAM', 'WIN_PERC_HOME',
       'REMIS_PERC', 'WIN_PERC_AWAY', 'HOME_GOALS', 'AWAY_GOALS', 'RESULT',
       'REFEREE', 'HOME_PLAYERS_COUNT', 'HOME_PLAYERS_AVG_AGE',
       'HOME_LEGIONARIES_COUNT', 'HOME_AVG_MARKET_VALUE',
       'HOME_TOTAL_MARKET_VALUE', 'HOME_AVG_AGE_JOINING',
       'HOME_AVG_AGE_LEAVING', 'HOME_TOTAL_VALUE_JOINING_MIO',
       'HOME_TOTAL_VALUE_LEAVING_MIO', 'HOME_EXPENSES_JOINING_MIO',
       'HOME_REVENUE_LEAVING_MIO', 'AWAY_PLAYERS_COUNT',
       'AWAY_PLAYERS_AVG_AGE', 'AWAY_LEGIONARIES_COUNT',
       'AWAY_AVG_MARKET_VALUE', 'AWAY_TOTAL_MARKET_VALUE',
       'AWAY_AVG_AGE_JOINING', 'AWAY_AVG_AGE_LEAVING',
       'AWAY_TOTAL_VALUE_JOINING_MIO', 'AWAY_TOTAL_VALUE_LEAVING_MIO',
       'AWAY_EXPENSES_JOINING_MIO', 'AWAY_REVENUE_LEAVING_MIO'],
      dtype='object')

In [13]:
df

,DATE,WEEKDAY,MONTH,SEASON,MATCHDAY,HOME_TEAM,PLACE_HOME_TEAM,AWAY_TEAM,PLACE_AWAY_TEAM,WIN_PERC_HOME,...,AWAY_PLAYERS_AVG_AGE,AWAY_LEGIONARIES_COUNT,AWAY_AVG_MARKET_VALUE,AWAY_TOTAL_MARKET_VALUE,AWAY_AVG_AGE_JOINING,AWAY_AVG_AGE_LEAVING,AWAY_TOTAL_VALUE_JOINING_MIO,AWAY_TOTAL_VALUE_LEAVING_MIO,AWAY_EXPENSES_JOINING_MIO,AWAY_REVENUE_LEAVING_MIO
0,2004-08-06,4,8,2004,1,SV Werder Bremen,3,FC Schalke 04,2,NaN,...,25.6,15,2620000.0,86330000.0,23.3,27.8,,,4.65,0.05
1,2004-08-07,5,8,2004,1,1.FC Kaiserslautern,12,1.FC Nürnberg,14,NaN,...,25.6,12,1200000.0,34900000.0,25.4,27.9,,,2.25,0.15
2,2004-08-07,5,8,2004,1,SC Freiburg,18,FC Hansa Rostock,17,NaN,...,27.5,14,925000.0,25900000.0,26.1,28.1,,,0.55,0.50
3,2004-08-07,5,8,2004,1,Borussia Dortmund,7,VfL Wolfsburg,9,NaN,...,27.3,18,2120000.0,59300000.0,25.2,23.2,,,8.50,NaN
4,2004-08-07,5,8,2004,1,Bayer 04 Leverkusen,6,Hannover 96,10,NaN,...,26.1,23,1230000.0,42980000.0,25.1,26.6,,,1.88,0.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5809,2023-05-27,5,5,2022,34,Borussia Mönchengladbach,11,FC Augsburg,14,68.9,...,25.0,23,3150000.0,132280000.0,22.6,24.6,69.2,39.5,11.45,6.80
5810,2023-05-27,5,5,2022,34,Eintracht Frankfurt,8,SC Freiburg,5,31.4,...,26.0,11,6930000.0,200950000.0,23.3,23.1,59.75,92.15,15.90,21.33
5811,2023-05-27,5,5,2022,34,VfL Wolfsburg,7,Hertha BSC,18,93.6,...,25.4,21,2290000.0,94000000.0,23.7,24.4,84.83,80.78,8.55,24.25
5812,2023-05-27,5,5,2022,34,VfL Bochum,16,Bayer 04 Leverkusen,6,13.0,...,24.2,24,12930000.0,452550000.0,21.8,24.6,55.85,27.65,15.10,9.50
5813,2023-05-27,5,5,2022,34,VfB Stuttgart,15,TSG 1899 Hoffenheim,13,70.9,...,25.8,21,4830000.0,178800000.0,23.9,25.0,66.5,84.5,19.80,60.60

In [14]:
print(df.dtypes)

DATE                            datetime64[ns]
WEEKDAY                                  int64
MONTH                                    int64
SEASON                                   int32
MATCHDAY                                 int64
HOME_TEAM                               object
PLACE_HOME_TEAM                          int64
AWAY_TEAM                               object
PLACE_AWAY_TEAM                          int64
WIN_PERC_HOME                          float64
REMIS_PERC                             float64
WIN_PERC_AWAY                          float64
HOME_GOALS                             float64
AWAY_GOALS                             float64
RESULT                                  object
REFEREE                                 object
HOME_PLAYERS_COUNT                       int64
HOME_PLAYERS_AVG_AGE                   float64
HOME_LEGIONARIES_COUNT                   int64
HOME_AVG_MARKET_VALUE                  float64
HOME_TOTAL_MARKET_VALUE                float64
HOME_AVG_AGE_JOINING                   float64
HOME_AVG_AGE_LEAVING                   float64
HOME_TOTAL_VALUE_JOINING_MIO            object
HOME_TOTAL_VALUE_LEAVING_MIO            object
HOME_EXPENSES_JOINING_MIO              float64
HOME_REVENUE_LEAVING_MIO               float64
AWAY_PLAYERS_COUNT                       int64
AWAY_PLAYERS_AVG_AGE                   float64
AWAY_LEGIONARIES_COUNT                   int64
AWAY_AVG_MARKET_VALUE                  float64
AWAY_TOTAL_MARKET_VALUE                float64
AWAY_AVG_AGE_JOINING                   float64
AWAY_AVG_AGE_LEAVING                   float64
AWAY_TOTAL_VALUE_JOINING_MIO            object
AWAY_TOTAL_VALUE_LEAVING_MIO            object
AWAY_EXPENSES_JOINING_MIO              float64
AWAY_REVENUE_LEAVING_MIO               float64
dtype: object

In [15]:
nan_count = df.isna().sum()
print(nan_count)
print(len(df))

DATE                               0
WEEKDAY                            0
MONTH                              0
SEASON                             0
MATCHDAY                           0
HOME_TEAM                          0
PLACE_HOME_TEAM                    0
AWAY_TEAM                          0
PLACE_AWAY_TEAM                    0
WIN_PERC_HOME                   1530
REMIS_PERC                      1530
WIN_PERC_AWAY                   1530
HOME_GOALS                         0
AWAY_GOALS                         0
RESULT                             0
REFEREE                            0
HOME_PLAYERS_COUNT                 0
HOME_PLAYERS_AVG_AGE               0
HOME_LEGIONARIES_COUNT             0
HOME_AVG_MARKET_VALUE              0
HOME_TOTAL_MARKET_VALUE            0
HOME_AVG_AGE_JOINING               0
HOME_AVG_AGE_LEAVING               0
HOME_TOTAL_VALUE_JOINING_MIO       0
HOME_TOTAL_VALUE_LEAVING_MIO       0
HOME_EXPENSES_JOINING_MIO         85
HOME_REVENUE_LEAVING_MIO         272
AWAY_PLAYERS_COUNT                 0
AWAY_PLAYERS_AVG_AGE               0
AWAY_LEGIONARIES_COUNT             0
AWAY_AVG_MARKET_VALUE              0
AWAY_TOTAL_MARKET_VALUE            0
AWAY_AVG_AGE_JOINING               0
AWAY_AVG_AGE_LEAVING               0
AWAY_TOTAL_VALUE_JOINING_MIO       0
AWAY_TOTAL_VALUE_LEAVING_MIO       0
AWAY_EXPENSES_JOINING_MIO         85
AWAY_REVENUE_LEAVING_MIO         272
dtype: int64
5814