# Nullhyptothesis testing. Prediction Model comparison to Random Guess

In [ ]:
import pandas as pd
import random

## Read prepared data

In [199]:
pd.set_option('display.max_columns', None)

df = pd.read_pickle("./df_merge_club_transfer_data_prep1.pkl")
df_prep = df.copy()
df_prep

,DATE,WEEKDAY,MONTH,SEASON,MATCHDAY,HOME_TEAM,PLACE_HOME_TEAM,AWAY_TEAM,PLACE_AWAY_TEAM,WIN_PERC_HOME,REMIS_PERC,WIN_PERC_AWAY,HOME_GOALS,AWAY_GOALS,RESULT,REFEREE,HOME_PLAYERS_COUNT,HOME_PLAYERS_AVG_AGE,HOME_LEGIONARIES_COUNT,HOME_AVG_MARKET_VALUE,HOME_TOTAL_MARKET_VALUE,HOME_AVG_AGE_JOINING,HOME_AVG_AGE_LEAVING,HOME_TOTAL_VALUE_JOINING_MIO,HOME_TOTAL_VALUE_LEAVING_MIO,HOME_EXPENSES_JOINING_MIO,HOME_REVENUE_LEAVING_MIO,AWAY_PLAYERS_COUNT,AWAY_PLAYERS_AVG_AGE,AWAY_LEGIONARIES_COUNT,AWAY_AVG_MARKET_VALUE,AWAY_TOTAL_MARKET_VALUE,AWAY_AVG_AGE_JOINING,AWAY_AVG_AGE_LEAVING,AWAY_TOTAL_VALUE_JOINING_MIO,AWAY_TOTAL_VALUE_LEAVING_MIO,AWAY_EXPENSES_JOINING_MIO,AWAY_REVENUE_LEAVING_MIO
0,2004-08-06,4,8,2004,1,SV Werder Bremen,3,FC Schalke 04,2,NaN,NaN,NaN,1.0,0.0,HOME_WIN,Stefan Trautmann,29,25.0,14,3400000.0,98480000.0,24.8,26.4,NaN,NaN,9.00,6.45,33,25.6,15,2620000.0,86330000.0,23.3,27.8,NaN,NaN,4.65,0.05
1,2004-08-07,5,8,2004,1,1.FC Kaiserslautern,12,1.FC Nürnberg,14,NaN,NaN,NaN,1.0,3.0,AWAY_WIN,Michael Weiner,32,26.6,14,1050000.0,33750000.0,25.8,27.6,0.075,NaN,0.55,6.00,29,25.6,12,1200000.0,34900000.0,25.4,27.9,NaN,NaN,2.25,0.15
2,2004-08-07,5,8,2004,1,SC Freiburg,18,FC Hansa Rostock,17,NaN,NaN,NaN,0.0,0.0,DRAW,Dr. Helmut Fleischer,32,25.8,19,701000.0,22430000.0,22.4,24.8,NaN,0.075,1.40,0.05,28,27.5,14,925000.0,25900000.0,26.1,28.1,NaN,NaN,0.55,0.50
3,2004-08-07,5,8,2004,1,Borussia Dortmund,7,VfL Wolfsburg,9,NaN,NaN,NaN,1.0,2.0,AWAY_WIN,Wolfgang Stark,36,24.5,18,2180000.0,78330000.0,21.9,26.2,NaN,NaN,NaN,10.15,28,27.3,18,2120000.0,59300000.0,25.2,23.2,NaN,NaN,8.50,NaN
4,2004-08-07,5,8,2004,1,Bayer 04 Leverkusen,6,Hannover 96,10,NaN,NaN,NaN,2.0,1.0,HOME_WIN,Dr. Franz-Xaver Wack,32,24.8,15,2720000.0,86930000.0,23.0,25.0,NaN,NaN,3.75,15.75,35,26.1,23,1230000.0,42980000.0,25.1,26.6,NaN,NaN,1.88,0.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5809,2023-05-27,5,5,2022,34,Borussia Mönchengladbach,11,FC Augsburg,14,68.9,22.7,8.3,2.0,0.0,HOME_WIN,Dr. Matthias Jöllenbeck,35,25.4,16,6910000.0,241680000.0,22.1,23.8,45.550,64.030,24.00,23.00,42,25.0,23,3150000.0,132280000.0,22.6,24.6,69.20,39.50,11.45,6.80
5810,2023-05-27,5,5,2022,34,Eintracht Frankfurt,8,SC Freiburg,5,31.4,37.1,31.5,2.0,1.0,HOME_WIN,Deniz Aytekin,36,25.0,22,9020000.0,324550000.0,22.6,24.2,157.750,66.300,27.80,18.40,29,26.0,11,6930000.0,200950000.0,23.3,23.1,59.75,92.15,15.90,21.33
5811,2023-05-27,5,5,2022,34,VfL Wolfsburg,7,Hertha BSC,18,93.6,3.6,2.8,1.0,2.0,AWAY_WIN,Benjamin Cortus,33,24.7,20,7220000.0,238300000.0,22.3,24.6,78.600,73.450,35.75,23.70,41,25.4,21,2290000.0,94000000.0,23.7,24.4,84.83,80.78,8.55,24.25
5812,2023-05-27,5,5,2022,34,VfL Bochum,16,Bayer 04 Leverkusen,6,13.0,16.5,70.5,3.0,0.0,HOME_WIN,Tobias Welz,32,27.7,18,1680000.0,53700000.0,25.4,26.0,26.800,39.480,1.79,16.05,35,24.2,24,12930000.0,452550000.0,21.8,24.6,55.85,27.65,15.10,9.50
5813,2023-05-27,5,5,2022,34,VfB Stuttgart,15,TSG 1899 Hoffenheim,13,70.9,21.0,8.0,1.0,1.0,DRAW,Robert Schröder,39,23.2,21,3870000.0,151050000.0,22.8,22.8,72.750,99.900,14.99,52.60,37,25.8,21,4830000.0,178800000.0,23.9,25.0,66.50,84.50,19.80,60.60

## Count distribution of Match Outcomes

In [200]:
result_counts = df['RESULT'].value_counts()
result_percentages = round((result_counts / len(df)), 2)
result_percentages

HOME_WIN    0.45
AWAY_WIN    0.30
DRAW        0.25
Name: RESULT, dtype: float64

In [201]:
df_test_data_with_predictions = pd.read_pickle("./df_test_data_with_predictions.pkl")
df_test_data_with_predictions

,HOME_TEAM,PLACE_HOME_TEAM,HOME_PLAYERS_COUNT,HOME_PLAYERS_AVG_AGE,HOME_LEGIONARIES_COUNT,HOME_AVG_MARKET_VALUE,HOME_TOTAL_MARKET_VALUE,HOME_AVG_AGE_JOINING,HOME_AVG_AGE_LEAVING,AWAY_TEAM,PLACE_AWAY_TEAM,AWAY_PLAYERS_COUNT,AWAY_PLAYERS_AVG_AGE,AWAY_LEGIONARIES_COUNT,AWAY_AVG_MARKET_VALUE,AWAY_TOTAL_MARKET_VALUE,AWAY_AVG_AGE_JOINING,AWAY_AVG_AGE_LEAVING,MATCHDAY,pred_random_forest,pred_kneighbor,pred_multinomial_nb,pred_gaussian_nb,pred_quadr_discr_analysis,true_result
0,34,7,38,24.7,23,5460000.0,207600000.0,22.8,24.0,3,15,34,26.2,11,1210000.0,41200000.0,23.5,24.0,7,2,2,2,2,2,2
1,11,9,35,26.4,23,5970000.0,208980000.0,24.4,23.5,29,11,36,26.2,18,3750000.0,135130000.0,23.3,23.5,7,2,2,2,2,2,1
2,11,9,35,26.4,23,5970000.0,208980000.0,24.4,23.5,7,7,29,25.1,18,13760000.0,398950000.0,21.4,23.5,8,0,0,0,0,0,2
3,25,4,38,23.0,26,15010000.0,570480000.0,20.7,22.5,34,2,38,24.7,23,5460000.0,207600000.0,22.8,24.0,8,2,2,2,2,2,1
4,29,11,36,26.2,18,3750000.0,135130000.0,23.3,23.5,22,10,42,24.2,22,5170000.0,217200000.0,22.1,22.5,8,2,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1158,9,11,35,25.4,16,6910000.0,241680000.0,22.1,23.8,12,14,42,25.0,23,3150000.0,132280000.0,22.6,24.6,34,2,2,2,2,2,2
1159,11,8,36,25.0,22,9020000.0,324550000.0,22.6,24.2,26,5,29,26.0,11,6930000.0,200950000.0,23.3,23.1,34,2,0,2,2,2,2
1160,34,7,33,24.7,20,7220000.0,238300000.0,22.3,24.6,22,18,41,25.4,21,2290000.0,94000000.0,23.7,24.4,34,2,2,2,2,2,0
1161,33,16,32,27.7,18,1680000.0,53700000.0,25.4,26.0,7,6,35,24.2,24,12930000.0,452550000.0,21.8,24.6,34,0,0,0,0,0,2
1162,32,15,39,23.2,21,3870000.0,151050000.0,22.8,22.8,31,13,37,25.8,21,4830000.0,178800000.0,23.9,25.0,34,2,2,1,2,2,1

## Apply Random Guess based on the distribution outcome as weights

In [202]:
random.seed(142151)

outcomes = [0, 1, 2]
weights = [result_percentages['AWAY_WIN'], result_percentages['DRAW'], result_percentages['HOME_WIN']]
num_picks = len(df_test_data_with_predictions)

selected_outcomes = random.choices(outcomes, weights=weights, k=num_picks)
selected_outcomes

[0,
 0,
 0,
 0,
 1,
 2,
 1,
 2,
 0,
 0,
 1,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 0,
 1,
 0,
 2,
 2,
 0,
 0,
 0,
 2,
 2,
 1,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 1,
 1,
 2,
 1,
 1,
 2,
 0,
 1,
 1,
 2,
 0,
 0,
 1,
 2,
 0,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 1,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 2,
 1,
 2,
 2,
 1,
 1,
 0,
 2,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 2,
 1,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 1,
 0,
 1,
 2,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 1,
 0,
 1,
 2,
 1,
 2,
 1,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 2,
 0,
 2,
 1,
 1,
 1,
 0,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 0,
 2,
 1,
 1,
 0,
 2,
 1,
 0,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 0,
 0,
 1,
 2,
 2,
 0,
 0,
 1,
 2,
 2,
 0,
 1,
 2,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 0,
 0,
 2,
 1,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 1,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 2,
 2,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 2,
 1,
 2,
 0,
 1,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 2,
 2,
 0,
 0,
 0,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 2,
 2,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 1,
 2,
 1,
 0,
 2,
 2,
 2,
 0,
 0,
 1,
 1,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 0,
 1,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 1,
 1,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 1,
 0,
 1,
 1,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 1,
 1,
 0,
 2,
 1,
 0,
 1,
 2,
 1,
 0,
 0,
 2,
 1,
 1,
 1,
 0,
 2,
 1,
 2,
 2,
 0,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 2,
 0,
 2,
 1,
 2,
 2,
 1,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 0,
 0,
 2,
 2,
 2,
 1,
 0,
 2,
 0,
 2,
 0,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 2,
 1,
 2,
 2,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 0,
 2,
 0,
 2,
 1,
 0,
 2,
 1,
 2,
 0,
 1,
 0,
 1,
 2,
 1,
 0,
 0,
 2,
 2,
 2,
 2,
 1,
 1,
 0,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 1,
 2,
 1,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 1,
 0,
 1,
 2,
 1,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 2,
 2,
 0,
 2,
 2,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 2,
 0,
 1,
 2,
 1,
 2,
 2,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 2,
 1,
 2,
 1,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 1,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 1,
 2,
 1,
 2,
 0,
 1,
 2,
 0,
 2,
 0,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 0,
 1,
 2,
 0,
 0,
 2,
 1,
 0,
 0,
 2,
 1,
 2,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 1,
 0,
 2,
 2,
 2,
 0,
 1,
 2,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 0,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 0,
 2,
 0,
 1,
 1,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 1,
 0,
 0,
 0,
 0,
 2,
 2,
 1,
 0,
 1,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 0,
 0,
 2,
 1,
 1,
 2,
 2,
 1,
 0,
 2,
 2,
 1,
 2,
 2,
 2,
 0,
 2,
 1,
 0,
 1,
 2,
 1,
 2,
 2,
 0,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 0,
 1,
 1,
 2,
 1,
 1,
 2,
 0,
 2,
 2,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 0,
 1,
 1,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 1,
 0,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 0,
 2,
 1,
 2,
 0,
 1,
 2,
 0,
 0,
 1,
 1,
 0,
 2,
 2,
 2,
 2,
 1,
 0,
 1,
 0,
 2,
 1,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 2,
 1,
 1,
 0,
 1,
 2,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 0,
 0,
 0,
 1,
 2,
 1,
 2,
 0,
 2,
 1,
 1,
 2,
 2,
 0,
 1,
 1,
 2,
 2,
 0,
 2,
 2,
 0,
 0,
 1,
 0,
 1,
 ...]

In [203]:
df_test_data_with_predictions['random_guess'] = selected_outcomes

In [204]:
df_test_data_with_predictions

,HOME_TEAM,PLACE_HOME_TEAM,HOME_PLAYERS_COUNT,HOME_PLAYERS_AVG_AGE,HOME_LEGIONARIES_COUNT,HOME_AVG_MARKET_VALUE,HOME_TOTAL_MARKET_VALUE,HOME_AVG_AGE_JOINING,HOME_AVG_AGE_LEAVING,AWAY_TEAM,PLACE_AWAY_TEAM,AWAY_PLAYERS_COUNT,AWAY_PLAYERS_AVG_AGE,AWAY_LEGIONARIES_COUNT,AWAY_AVG_MARKET_VALUE,AWAY_TOTAL_MARKET_VALUE,AWAY_AVG_AGE_JOINING,AWAY_AVG_AGE_LEAVING,MATCHDAY,pred_random_forest,pred_kneighbor,pred_multinomial_nb,pred_gaussian_nb,pred_quadr_discr_analysis,true_result,random_guess
0,34,7,38,24.7,23,5460000.0,207600000.0,22.8,24.0,3,15,34,26.2,11,1210000.0,41200000.0,23.5,24.0,7,2,2,2,2,2,2,0
1,11,9,35,26.4,23,5970000.0,208980000.0,24.4,23.5,29,11,36,26.2,18,3750000.0,135130000.0,23.3,23.5,7,2,2,2,2,2,1,0
2,11,9,35,26.4,23,5970000.0,208980000.0,24.4,23.5,7,7,29,25.1,18,13760000.0,398950000.0,21.4,23.5,8,0,0,0,0,0,2,0
3,25,4,38,23.0,26,15010000.0,570480000.0,20.7,22.5,34,2,38,24.7,23,5460000.0,207600000.0,22.8,24.0,8,2,2,2,2,2,1,0
4,29,11,36,26.2,18,3750000.0,135130000.0,23.3,23.5,22,10,42,24.2,22,5170000.0,217200000.0,22.1,22.5,8,2,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1158,9,11,35,25.4,16,6910000.0,241680000.0,22.1,23.8,12,14,42,25.0,23,3150000.0,132280000.0,22.6,24.6,34,2,2,2,2,2,2,2
1159,11,8,36,25.0,22,9020000.0,324550000.0,22.6,24.2,26,5,29,26.0,11,6930000.0,200950000.0,23.3,23.1,34,2,0,2,2,2,2,1
1160,34,7,33,24.7,20,7220000.0,238300000.0,22.3,24.6,22,18,41,25.4,21,2290000.0,94000000.0,23.7,24.4,34,2,2,2,2,2,0,1
1161,33,16,32,27.7,18,1680000.0,53700000.0,25.4,26.0,7,6,35,24.2,24,12930000.0,452550000.0,21.8,24.6,34,0,0,0,0,0,2,0
1162,32,15,39,23.2,21,3870000.0,151050000.0,22.8,22.8,31,13,37,25.8,21,4830000.0,178800000.0,23.9,25.0,34,2,2,1,2,2,1,2

## Apply McNemar Test to each Model compared to random Guess

In [205]:
model_list = ['random_guess', 'pred_random_forest', 'pred_kneighbor', 'pred_multinomial_nb', 'pred_gaussian_nb', 'pred_quadr_discr_analysis']

for pred in model_list:
    # Flag if model and random guess was classified correctly or not
    df_test_data_with_predictions[f'class_result_{pred}'] = ['Correct' if pred == true else 'Wrong' for pred, true in zip(df_test_data_with_predictions[pred], df_test_data_with_predictions['true_result'])]
    # Create a Contingency table for each model compared to random guess
    contingency_table = pd.crosstab(df_test_data_with_predictions[f'class_result_{pred}'], df_test_data_with_predictions['class_result_random_guess'])
    # Calculate testing statistic
    chi2 = (((contingency_table.iloc[0,1]) - (contingency_table.iloc[1,0]))**2) / ((contingency_table.iloc[0,1])+ (contingency_table.iloc[1,0]))
    print('')
    # Comparison with the Chi^2 distribution
    if chi2 > 3.84:  # 3.84 entspricht dem kritischen Wert der \chi^2 Verteilung mit 1 Freiheitsgrad und 95%-Quantil zum Signifikanzniveau alpha = 0.05 
        print(f'Nullhypothese wird abgelehnt: Es gibt einen signifikanten Unterschied zwischen dem Modell {pred.replace("pred_", "").upper()} und dem Zufallsmodell')
    else:
        print(f'Nullhypothese wird nicht abgelehnt: Es gibt KEINEN signifikanten Unterschied zwischen dem Modell {pred.replace("pred_", "").upper()} und dem Zufallsmodell')

Nullhypothese wird nicht abgelehnt: Es gibt KEINEN signifikanten Unterschied zwischen dem Modell RANDOM_GUESS und dem Zufallsmodell

Nullhypothese wird abgelehnt: Es gibt einen signifikanten Unterschied zwischen dem Modell RANDOM_FOREST und dem Zufallsmodell

Nullhypothese wird abgelehnt: Es gibt einen signifikanten Unterschied zwischen dem Modell KNEIGHBOR und dem Zufallsmodell

Nullhypothese wird abgelehnt: Es gibt einen signifikanten Unterschied zwischen dem Modell MULTINOMIAL_NB und dem Zufallsmodell

Nullhypothese wird abgelehnt: Es gibt einen signifikanten Unterschied zwischen dem Modell GAUSSIAN_NB und dem Zufallsmodell

Nullhypothese wird abgelehnt: Es gibt einen signifikanten Unterschied zwischen dem Modell QUADR_DISCR_ANALYSIS und dem Zufallsmodell

C:\Users\Kevin.Diec\AppData\Local\Temp\ipykernel_23876\3466999990.py:6: RuntimeWarning: invalid value encountered in longlong_scalars
  chi2 = (((contingency_table.iloc[0,1]) - (contingency_table.iloc[1,0]))**2) / ((contingency_table.iloc[0,1])+ (contingency_table.iloc[1,0]))