# Elo forecast

In [6]:
import pandas as pd
import os
PATH_ELO_CLUBS = 'data/elo/elo-clubs'
country = 'GER'
dir_path = f'{PATH_ELO_CLUBS}/{country}'

### Select manually club1, club2, the date of the match and the home team

In [7]:
club1 = 'Bayern'    # <= Select here club 1
club2 = 'Gladbach'  # <= Select here club 2
match_date = pd.to_datetime('2005-08-05') # <= Select here match date
home_team = 1      # <= set the home team

In [8]:
# download elo scores
df1 = pd.read_csv(f'{dir_path}/{club1}.csv')
df2 = pd.read_csv(f'{dir_path}/{club2}.csv')

In [9]:
df1

,Unnamed: 0,Rank,Club,Country,Level,Elo,From,To
0,3238,10,Bayern,GER,1,1838.988403,2004-01-12,2004-01-31
1,3239,9,Bayern,GER,1,1833.371338,2004-02-01,2004-02-01
2,3240,11,Bayern,GER,1,1833.371338,2004-02-02,2004-02-08
3,3241,12,Bayern,GER,1,1836.353882,2004-02-09,2004-02-14
4,3242,12,Bayern,GER,1,1826.195312,2004-02-15,2004-02-21
...,...,...,...,...,...,...,...,...
1570,4808,3,Bayern,GER,1,1935.604126,2023-05-28,2023-08-18
1571,4809,3,Bayern,GER,1,1940.378906,2023-08-19,2023-08-27
1572,4810,3,Bayern,GER,1,1940.378906,2023-08-28,2023-09-02
1573,4811,3,Bayern,GER,1,1940.378906,2023-09-03,2023-09-03
1574,4812,3,Bayern,GER,1,1940.378906,2023-09-04,2023-12-31

In [10]:
df1['From'] = pd.to_datetime(df1['From'])
df1['To'] = pd.to_datetime(df1['To'])
df2['From'] = pd.to_datetime(df1['From'])
df2['To'] = pd.to_datetime(df1['To'])

df_club1= df1[(df1['From'] <= match_date) & (df1['To'] >= match_date)]
df_club2= df2[(df2['From'] <= match_date) & (df2['To'] >= match_date)]

print(df_club1)
print('')
print('')
print(df_club2)

elo1 = df_club1['Elo'].values[0]
elo2 = df_club2['Elo'].values[0]

     Unnamed: 0  Rank    Club Country  Level         Elo       From         To
120        3358     8  Bayern     GER      1  1865.66394 2005-07-29 2005-08-05


     Unnamed: 0 Rank      Club Country  Level          Elo       From  \
120        3690   93  Gladbach     GER      1  1637.013916 2005-07-29

            To
120 2005-08-05

In [11]:
print(elo1)
print(elo2)

1865.66394043
1637.01391602

### Calculate the expected result based on elo score from club1 perspective

https://de.wikipedia.org/wiki/World_Football_Elo_Ratings

$W_e$ is always larger than 0 and smaller than 1. The limiting cases 0 would correspond to a defeat expected as certain, 1 to a victory expected as certain.

In [12]:
dr = elo1 - elo2
if home_team == 1:
    dr+=100
else:
    dr-=100

In [13]:
w_e = 1 / (pow(10, -dr / 400) + 1)
w_e

0.868967645326058